<%- include('partials/header'); -%>

<header class="all-cars-main">
    <div class="header">
        <h2>ALL ADS</h2>
        <h3>List of All Cars</h3>
    </div>
    <div class="all-cars">
        <% cars.forEach(car => { %>
            <div class="car">
                <h2><%= car.brand %></h2>
                <h2><%= car.model %></h2>
                <p><b>Price:</b> <%= car.price %> <%= car.currency %></p>
                <p><b>Year:</b> <%= car.year %></p>
                <p><b>Where:</b> <%= car.region %></p>
                <p><b>Posted by:</b> <%= usersMap.get(car.created_by.toString()).username %></p>
                <a href="/cars/<%= car._id %>">
                    <button>Find out more</button>
                </a>
            </div>
        <% }); %>
    </div>
</header>

<%- include('partials/footer'); -%>
