<%- include('partials/header'); -%>
<pre id="decoded-token-container"></pre>

<!--<script>-->
<!--    const decodedTokenContainer = document.getElementById("decoded-token-container");-->


<!--    const loginApiEndpoint = "/users/login";-->


<!--    fetch(loginApiEndpoint, {-->
<!--        method: "POST",-->
<!--        headers: {-->
<!--            "Content-Type": "application/json",-->
<!--        },-->
<!--        body: JSON.stringify({ email: "11@gmail.com", password: "1234567" }),-->
<!--    })-->
<!--        .then(response => response.json())-->
<!--        .then(data => {-->
<!--            const token = data.token;-->
<!--            const decoded = JSON.parse(atob(token.split('.')[1]));-->


<!--            decodedTokenContainer.textContent = JSON.stringify(decoded, null, 2);-->
<!--        })-->
<!--        .catch(error => {-->
<!--            console.error("Error:", error);-->
<!--            decodedTokenContainer.textContent = "Error fetching token";-->
<!--        });-->
<!--</script>-->
<header class="all-cars-main">
    <div class="header">
        <h2 class="all-cars-header">List of All Cars</h2>
    </div>
    <div class="all-cars">
        <% cars.forEach(car => { %>
            <div class="car">
                <h2><%= car.brand %></h2>
                <h2><%= car.model %></h2>
                <p><b>Price:</b> <%= car.price %> <%= car.currency === "hryvnia" ? "UAH" : car.currency === "dollar" ? "USD" : "EUR"  %></p>
                <p><b>Year:</b> <%= car.year %></p>
                <p><b>Where:</b> <%= car.region %></p>
                <p><b>Posted by:</b> <%= usersMap.get(car.created_by.toString()).username %></p>
                <a href="/cars/<%= car._id %>">
                    <button>Find out more</button>
                </a>
            </div>
        <% }); %>
    </div>
</header>

<%- include('partials/footer'); -%>
