<%- include('partials/header'); -%>
<div class="all-cars ">
    <div class="car-each">
        <h2>Exchange rate</h2>
        <p>$ buy: <%= car.currencyRate.dollarBuy %></p>
        <p>$ sell: <%= car.currencyRate.dollarSale %></p>
        <p>€ buy: <%= car.currencyRate.euroBuy %></p>
        <p>€ sell: <%= car.currencyRate.euroSale %></p>
    </div>
    <div class="car-each">

        <h2><%= car.brand %></h2>
        <h2><%= car.model %></h2>
        <div class="divider">-----------------------</div>
        <p><b><%= car.currency === "dollar" ? "Default Currency USD:" : "Price in USD: " %></b>
            <%= car.convertedCurrencies.dollar.toFixed(2) %> $
        </p>
        <p><b><%= car.currency === "euro" ? "Default Currency EUR:" : "Price in EUR: " %></b>
            <%= car.convertedCurrencies.euro.toFixed(2) %> €
        </p>
        <p><b><%= car.currency === "hryvnia" ? "Default Currency UAH:" : "Price in UAH: " %></b>
            <%= car.convertedCurrencies.hryvnia.toFixed(2) %> ₴
        </p>
        <div class="divider">-----------------------</div>
        <p><b>Year:</b> <%= car.year %></p>
        <p><b>Where:</b> <%= car.region %></p>
        <p><b>Description:</b> <%= car.description %></p>
        <p><b>Posted by:</b> <%= usersMap.get(car.created_by.toString()).username %></p>
        <% if (user && (user.premium === true && user._id.equals(car.created_by._id) || user.role === "administrator" || user.role === "manager")) { %>
            <div class="divider">-----------------------</div>
            <h3>Statistics:</h3>
            <p>Total Views: <%= totalViews %></p>
            <p>Views in the Past Week: <%= pastWeekViews %></p>
            <p>Views in the Past Month: <%= pastMonthViews %></p>
            <p>Average Price by All in USD: <%= averagePriceByAll.toFixed(2) %></p>
            <p>Average Price by Region in USD: <%= averagePriceByRegion.toFixed(2) %></p>
        <% } %>
        <% if (user && (user._id.equals(car.created_by._id) || user.role === "administrator" || user.role === "manager")) { %>
            <button id="deleteButton">Delete ad</button>
        <% } %>

        <% if (user && !(user._id.equals(car.created_by._id))) { %>
            <div class="divider">-----------------------</div>
            <form class="contact" action="/messages/send" method="POST">
                <h2>CONTACT A SELLER</h2>
                <label for="header">Subject</label>
                <input type="text" name="header" required/>
                <label for="content">Message</label>
                <textarea id="content" name="content" required></textarea>
                <button type="submit">Send a message</button>
            </form>
        <% } %>
    </div>

</div>

<%- include('partials/footer'); -%>

<script>
    document.getElementById("deleteButton").addEventListener("click", function () {
        if (confirm("Are you sure you want to delete this car?")) {
            fetch(`/cars/<%= car._id %>`, {
                method: "DELETE",
            })
                .then(response => {
                    if (response.ok) {
                        console.log("Car deleted successfully");
                        return response.text();
                    } else {
                        console.error("Failed to delete car");
                    }
                })
                .then(() => {
                    window.location.href = "/";
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        }
    });
</script>
<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const header = form.header.value;
        const content = form.content.value;

        try {
            const res = await fetch('/messages/send', {
                method: 'POST',
                body: JSON.stringify({header, content, recipientUserId: "<%= car.created_by._id %>",}),
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);

            if (data.message) {
                alert("message send");
                form.reset();
            }

        } catch (err) {
            console.log(err);
        }
    });
</script>
